        <div class="jumbotron">
            <form action="/users/register" method="POST">
                {{#each errorMessages}}
                    <div class="alert alert-danger">{{this}}</div>
                {{/each}}

                <div class="form-group">
                <label for="username">Username:</label><br />  
                <input class="form-control" type="text" name="username" placeholder="Username" value="{{username}}" /><br />
                </div>

                <div class="form-group">
                    <label for="password">Password:</label><br />
                    <input class="form-control" type="password" name="password" placeholder="Password" /><br />
                </div>

                <div class="form-group">
                    <label for="firstName">First Name:</label><br />
                    <input class="form-control" type="text" name="firstName" placeholder="First Name" value="{{firstName}}" /><br />
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name:</label><br />
                    <input class="form-control" type="text" name="lastName" placeholder="Last Name" value="{{lastName}}" /><br />
                </div>

                <input class="btn btn-default" type="submit" value="Register" />
            </form>
        </div>    